<ion-view title="Home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <div>
        <ion-content scroll="false">
            <div class="residents away">
                <div class="resident" ng-repeat="resident in residents | filter:{ isAway: true }">
                    <img class="avatar" ng-src="./images/avatar{{resident.avatar || '0'}}.png" />
                    <div class="resident-name">
                    <span>{{resident.name}}</span> 
                    <span ng-if="resident.$id===user.residentId">(<span translate>ME</span>)</span></div>
                </div>
            </div>
            <div class="circle">
            </div>
            <div class="residents at-home center" ng-class="{noaway: (residents | filter:{ isAway: true}).length==0}">
                <div class="resident" ng-repeat="resident in residents | filter:{ isAway: false }">
                    <img class="avatar" ng-src="./images/avatar{{resident.avatar || '0'}}.png" />
                    <div class="resident-name">{{resident.name}}</div>
                </div>
            </div>
            <ion-content class="has-residents">
                <div class="rooms-table padding">
                    <div class="row" ng-click="goToRoom(room.$id)" ng-repeat="room in rooms" ng-if="room.name">
                        <div class="left">{{room.name}}
                            <hr/>
                                <climateindicator ng-if="room.co2" ng-click="openAirQualityPopover()" class="logo-home logo-margin" type="airquality" cssclass="logo-home" value="room.co2" thresholds="room.thresholds.co2" date="room.lastExternalSensorUpdate"></climateindicator>
            
                            <climateindicator ng-if="room.humidity" ng-click="openAirQualityPopover()" class="logo-home logo-margin" type="humidity" cssclass="logo-home" value="room.humidity" thresholds="room.thresholds.humidity" date="room.lastExternalSensorUpdate" stop-event="click"></climateindicator>
                        </div>

                        <div class="right">


                            <div class="svg-container" ng-cloak>
                                <div ng-if="room.mode === 'auto'" class="home-mode"><i class="ion-ios7-clock"></i></div>
                                <div ng-if="room.mode === 'manu'" class="home-mode"><i class="ion-android-hand"></i> </i></div>
                                <div class="progress-wrapper" ng-style="{'font-size': ((radius + stroke)/ 3)+'px'}">
                                    <div ng-show="finishedloading" room-temperature scale="0.60" min="min" max="max" roomid="room.$id" targettemp="room.virtualTarget" measuredtemp="room.temperature" mode="room.mode" valve="room.valve" isaway="room.isAway" usesautoaway="room.usesAutoAway" color="{{ currentColor }}" bgcolor="{{ bgColor }}" radius="{{ radius }}" stroke="{{ stroke }}" displaytarget="false" displayarrows="false" ishome="true" finishedloading="finishedloading">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-content>
    </div>

</ion-view>
