<ion-view title="{{'HOME_SETTINGS' | translate}}">
  <ion-nav-buttons side="left">
  <button class="button-clear" ui-sref="app.home">
    <i class="ion-chevron-left"></i> {{'BACK' | translate}}
  </button>
  </ion-nav-buttons>
  <div ui-view>
  <ion-content class="activity has-header">
    <div class="card opaque">
      <div class="item item-divider item-button-right">
        <span translate>LOCATION</span>
         <button class="button button-clear" ui-sref="app.home_settings_location">{{'CHANGE' | translate}}  &nbsp
          <i class="ion-chevron-right"></i>
         </button>
       </div>  
      <div class="item">
        {{homeSettings.name}}<br />
        {{homeSettings.address}}<br />
        {{homeSettings.postcode}} {{homeSettings.city}}<br />
        {{homeSettings.country}}
      
      </div>
    </div>
    <div class="card opaque">
      <div class="item item-divider item-button-right">
        Email
         <button class="button button-clear" ui-sref="app.home_settings_email">{{'CHANGE' | translate}}  &nbsp
          <i class="ion-chevron-right"></i>
         </button>  
      </div>
      <div class="item">
        {{user.password.email}}
      </div>
    </div>
    <div class="card opaque">
      <div class="item item-divider item-button-right">
        {{'PASSWORD' | translate}}
        <button class="button button-clear" ui-sref="app.home_settings_password">{{'CHANGE' | translate}}  &nbsp
          <i class="ion-chevron-right"></i>
         </button>  
      </div>
      <div class="item">
        ••••••••
      </div>
    </div>
  </ion-content>
  </div>
   <ion-footer-bar class="bar-footer">
        <button translate class="button button-block button-assertive" ng-click="logout()">
            LOGOUT
        </button>
    </ion-footer-bar>    
</ion-view>
