<ion-modal-view>
    <ion-content>

        
                Insert the batteries into the thermostat and hold the <img src="images/icon-pairing.png"> button for at least 3 seconds.
            
        
                The pairing mode on the thermostat is activated when it begins a countdown from 30 until "AC" confirms the pairing
            
            
                Waiting for new paired thermostat...
            

    </ion-content>
    <ion-footer-bar class="bar-footer">
        <button class="button button-block button-assertive" ng-click="closeModal()">Cancel</button>
    </ion-footer-bar>
</ion-modal-view>
