<ion-view title="{{'RESIDENT_SETTINGS' | translate}}">
  <ion-nav-buttons side="left">
  <button class="button-clear" ui-sref="app.home">
    <i class="ion-chevron-left"></i> {{'HOME' | translate}}
  </button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll="true">
  <div class="create">
    <h3 translate>RESIDENT_SETTINGS_HEADER</h3>
    <div class="list">
      <div class="item item-input-inset transparent">
        <label class="item-input-wrapper">
          <input type="text" placeholder="{{'ENTER_NAME' | translate}}" ng-model="resident.name">
        </label>
      </div>
      <h3 translate>SELECT_AVATAR</h3>
      <div class="row">
        <div class="col" ng-repeat="avatar in [0,1,2,3,4]">
          <img class="avatar" ng-class="{unselected: !isSelected(avatar)}" ng-click="selectAvatar(avatar)" ng-src="./images/avatar{{avatar}}.png"/>
        </div>
      </div>
      <div class="row">
        <div class="col" ng-repeat="avatar in [5,6,7,8,9]">
          <img class="avatar" ng-class="{unselected: !isSelected(avatar)}" ng-click="selectAvatar(avatar)" ng-src="./images/avatar{{avatar}}.png"/>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-67">
          <p translate >ALLOW_GEO_TEXT</p>
        </div>
        <div class="col">
          <li class="item item-toggle" style="height:43px">
            <label class="toggle toggle-balanced">
              <input type="checkbox" ng-model="resident.allowsGeolocation">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
        </div>
      </div>
    </div>
    <button translate class="button button-stable button-balanced button-block" ng-click="save()">
      SAVE
    </button>
  </div>
  </ion-content>
</ion-view>
