<ion-view title="{{roomValues.name}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header center" scroll="false" ng-click="goToHome()">
        <div>
        <div class="center-block">
            <div 
                ng-show="finishedloading" 
                room-temperature 
                class="center-block in-background max-width" 
                hasthermostats="hasThermostats" 
                scale="1.0" 
                min="min" 
                max="max" 
                roomid="room" 
                targettemp="roomValues.virtualTarget" 
                measuredtemp="roomValues.temperature" 
                mode="roomValues.mode" 
                valve="roomValues.valve" 
                isaway="roomValues.isAway" 
                usesautoaway="roomValues.usesAutoAway" 
                color="{{ currentColor }}" bgcolor="{{ bgColor }}" 
                radius="{{ radius }}" 
                stroke="{{ stroke }}" 
                displaytarget="true" 
                addactivityfn="addRawActivity(activity)" 
                ishome="false" 
                finishedloading="finishedloading" 
                stop-event="click">
            </div>
            <div id="modeSlider" stop-event="click">
                <i class="ion-chevron-left arrow-left"></i>
                <ion-slide-box active-slide="modeToIndex(roomValues.mode)" on-slide-changed="changeMode($index)" does-continue="true" show-pager="false">
                    <ion-slide id="auto">
                        <i class="ion-ios7-clock"></i> <span translate>SCHEDULEMODE</span>
                    </ion-slide>
                    <ion-slide id="manu">
                       <i class="ion-android-hand"></i> <span translate>MANUAL</span>
                    </ion-slide>
                </ion-slide-box>
                <i class="ion-chevron-right arrow-right"></i>
            </div>
            <div ng-show="showNextTarget() && roomValues.nextTarget" id="nextTarget">
                Next
                <br>{{roomValues.nextTarget}}°
                <br>{{nextTargetDate(roomValues.nextTargetDate) | date:'H:mm'}}
            </div>
        </div>

         <div id="roomclimate" class="field-group {{(showNextTarget() && roomValues.nextTarget) ? 'has-next-target' : ''}}" ng-cloak>

            <div ng-if="roomValues.co2" class="field" ng-click="openAirQualityPopover()" stop-event="click">
                <climateindicator ng-click="openAirQualityPopover($event)" class="logo" type="airquality" cssclass="logo" value="roomValues.co2" thresholds="roomValues.thresholds.co2" date="roomValues.lastExternalSensorUpdate" stop-event="click"></climateindicator>
                <div class="{{isOld(roomValues.lastExternalSensorUpdate)}}">
                <div translate class="alignleft">AIR_QUALITY</div>
                <div class="alignright">{{roomValues.co2}}ppm</div>
                </div>
            </div>
        
            <div class="field" ng-if="roomValues.humidity" ng-click="openHumidityPopover()" stop-event="click">
                <climateindicator ng-click="openHumidityPopover($event)" class="logo" type="humidity" cssclass="logo" value="roomValues.humidity" thresholds="roomValues.thresholds.humidity" date="roomValues.lastExternalSensorUpdate" stop-event="click"></climateindicator>
                <div class="{{isOld(roomValues.lastExternalSensorUpdate)}}">
                <div translate class="alignleft">HUMIDITY</div>
                <div class="alignright">{{roomValues.humidity}}%</div>
                </div>

            </div>

            <div class="room-button-block">

            <button translate class="button  button-light transparent button-left" ng-click="goToHistory()">
            HISTORY
        </button>
         <button translate class="button button-light transparent button-right" ng-click="goToActivity()">
            ACTIVITY
        </button>
        </div>


        </div>
        </div>
        


    </ion-content>
</ion-view>