<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.iot-lab.cirql" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CirqlIonic</name>
    <description>
        A great heating app
    </description>
    <author email="bomhard@gmail.com" href="http://iot-lab.ch">
        IoT Lab Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
