<ion-view title="Add Room">
  <ion-nav-buttons side="left">
  <button class="button-clear" ng-click="goToHome()">
    <i class="ion-arrow-left-c"></i> Home
  </button>
  </ion-nav-buttons>
  <div class="wrapper">
    <div class="circle">
    </div>
    <ion-content class="has-header" scroll="false">
    <div class="add-room">
      <div class="title">
        <h1>Add a room to your home</h1>
      </div>
      <p class="error">{{err}}</p>
      <div class="list">
        <div class="item item-input-inset transparent">
          <label class="item-input-wrapper">
            <input type="text" ng-model="room.name" class="form-control" id="roomName" placeholder="Give your room a name">
          </label>
        </div>
        <label class="item item-input item-select transparent">
          <div class="input-label">
            Category
          </div>
          <select ng-model="room.category" id="roomCategory">
            <option value="bathroom">Bathroom</option>
            <option value="bedroom">Bedroom</option>
            <option value="livingroom">Livingroom</option>
            <option value="office">Office</option>
          </select>
        </label>
        <button ui-sref="app.thermostats" class="button button-light button-block transparent">Thermostats</button>
        <div ng-cloak class="residents residents-select center">
          <div class="resident" ng-repeat="resident in residents">
            <div class="avatar" ng-click="select(resident)"></div>
            {{resident.name}}
          </div>
        </div>
        <button ng-click="createRoom(room.name, room.category)" class="button button-balanced button-block">Add room</button>
        <!--<button ui-sref="app.home" class="button button-balanced button-block">Cancel</button>-->
      </div>
    </div>
    </ion-content>
  </div>
</ion-view>
