<ion-view title="Gateway">

    <ion-nav-buttons side="left">
        <button class="button-clear" ng-click="goToHome()">
            <i class="ion-chevron-left"></i> Home
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">

        <div ng-show="hasGateway" class="list card opaque item-text-wrap" ng-cloak>
            <div class="item">
                <div class="row">
                    <div class="col">
                        Id:
                    </div>
                    <div class="col">
                        {{gateway.gatewayId}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        isPairing:
                    </div>
                    <div class="col">
                        {{gateway.isPairing}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Last Seen:
                    </div>
                    <div class="col">
                        <i ng-show="alert" class="ion-alert-circled"></i>
                        {{lastSeen(gateway.lastSeen)}}
                    </div>
                </div>
            </div>

            <div class="item item-image">
                <button class="button button-full button-assertive" ng-click="showConfirm()">
                    Remove
                </button>
            </div>
        </div>

        <div ng-hide="hasGateway" class="centerAll" ng-cloak>
            <div class="row row-center">
                <div class="col col-center">
                    <h3>Enter your Gateway id to connect it with your account<h3> 
                    <p>{{errorMsg}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="item item-input-inset transparent">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="gatewayId" ng-model="gatewayId">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-balanced button-block transparent" ng-click="addGateway(gatewayId)">
                        Add Gateway
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>    
