<ion-view title="{{'HOME_SETTINGS' | translate}}">
  <ion-nav-buttons side="left">
  <button class="button-clear" ui-sref="app.home">
    <i class="ion-chevron-left"></i> {{'BACK' | translate}}
  </button>
  </ion-nav-buttons>
  <div ui-view>
  <ion-content class="activity has-header">
    <div class="card opaque">
      <div translate class="item item-divider">
        LOCATION
      </div>
      <div class="item item-button-right">
        {{homeSettings.name}}<br />
        {{homeSettings.address}}<br />
        {{homeSettings.postcode}} {{homeSettings.city}}<br />
        {{homeSettings.country}}
        <button translate class="button button-balanced" ui-sref="app.home_settings_location">CHANGE</button>
      </div>
    </div>
    <div class="card opaque">
      <div class="item item-divider">
        Email
      </div>
      <div class="item item-button-right">
        {{user.password.email}}
        <button translate class="button button-balanced" ui-sref="app.home_settings_email">CHANGE</button>
      </div>
    </div>
    <div class="card opaque">
      <div translate class="item item-divider">
        PASSWORD
      </div>
      <div class="item item-button-right">
        ••••••••
        <button translate class="button  button-balanced" ui-sref="app.home_settings_password">CHANGE</button>
      </div>
    </div>
  </ion-content>
  </div>
</ion-view>
