<ion-view>
  <ion-header-bar class="bar-transparent">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <div class="wrapper">
    <div class="circle">
    </div>
  <ion-content class="has-header" scroll="false">
  <div class="login">
      <div class="title">
        <h1 translate>CIRQL_HEADER</h1>
      </div>
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
      </div>
      <div class="list">
        <div class="item item-input-inset transparent">
          <label class="item-input-wrapper">
            <input type="email" placeholder="Email" ng-model="user.email">
          </label>
        </div>
        <div class="item item-input-inset transparent">
          <label class="item-input-wrapper">
            <input type="password" placeholder="{{'PASSWORD | translate'}}" ng-model="user.password">
          </label>
        </div>
        <button class="button button-balanced button-block" ng-click="login()">Login</button>
        <div class="center-block">
          <div class="divider">
            <hr translate class="pull-left"/>OR<hr class="pull-right" />
          </div>
        </div>
        <button class="button button-stable button-positive button-block" ui-sref="create">
          <a translate>CREATE_NEW_ACCOUNT</a>
        </button>
      </div>
      <!--<button class="button button-stable button-block" ui-sref="reset-password">-->
      <!--Can't remember my password-->
      <!--</button>-->
  </div>
  </ion-content>
  </div>
</ion-view>
