<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-transparent">
      <!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>-->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <!-- <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header> -->
    <ion-content scroll="true" class="center">
      <div class="list">
        <div translate class="item nav-clear menu-toggle" ui-sref="app.home">
          HOME
        </div>
        <div translate class="item nav-clear menu-toggle"  ng-if="isHome()" ui-sref="app.addRoom">
          ADD_ROOM
        </div>
          <div ng-if="isRoom()" ng-cloak class="residents residents-select">
            <div class="resident" ng-class="{unselected: !isBoundResident(resident)}" ng-repeat="resident in residents">
              <img class="avatar" ng-click="toggleBoundResident(resident)" ng-src="./images/avatar{{resident.avatar || '0'}}.png"></img>
              <br></br>
              {{resident.name}}
            </div>
          </div>
          <span show-alert><ion-toggle show-alert id="autoaway-toggle" style="margin-top:-35px" ng-if="isRoom()" ng-disabled="!hasBoundResidents()" ng-model="usesAutoAway.$value" toggle-class="toggle-balanced" ng-change="changeAutoAway()">AutoAway</ion-toggle></span>

        <div translate class="item nav-clear"  ng-if="isRoom()" ng-click="goToSchedule()">
          SCHEDULE
        </div>
        <!-- <div translate class="item nav-clear menu-toggle"  ng-if="isRoom()" ui-sref="app.activity({roomId: room})">
          ACTIVITY
        </div> -->
        <div translate class="item menu-toggle" ng-if="isRoom() && resident.expertMode" ui-sref="app.thermostats({roomId: room, fromRoom: true})">
          THERMOSTATS
        </div>
        <div class="item nav-clear menu-toggle" ng-if="isRoom() && resident.expertMode" ng-click="netatmo()">
          Netatmo
        </div>
        <div translate class="item nav-clear menu-toggle"  ng-if="isRoom()" ui-sref="app.room_settings({roomId: room})">
          ROOM_SETTINGS
        </div>
        <div class="item menu-toggle"  ng-if="isHome() && resident.expertMode" ui-sref="app.gateway({home: true})">
          Gateway
        </div>
        <div translate class="item nav-clear menu-toggle"  ng-if="isHome()" ui-sref="app.resident_settings">
          RESIDENT_SETTINGS
        </div>
        <div translate class="item nav-clear menu-toggle"  ng-if ="isHome()" ui-sref="app.home_settings">
          HOME_SETTINGS
        </div>
       <!--  <div translate class="item nav-clear menu-toggle" ng-click="logout()">
          LOGOUT
        </div> -->
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
