<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-transparent">
      <!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>-->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <!-- <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header> -->
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="app.home">
          Home
        </ion-item>
        <ion-item ng-show="isHome()" nav-clear menu-close ui-sref="app.rooms.add">
          Add Room
        </ion-item>
        <!-- <ion-item nav-clear menu-close ui-sref="change-password">
          Change Password
        </ion-item> -->
        <ion-item ng-show="isRoom()" nav-clear menu-close ng-click="netatmo()">
          Netatmo
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
