<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-transparent">
      <!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>-->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <!-- <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header> -->
    <ion-content>
      <div class="list">
        <div class="item nav-clear menu-close" ui-sref="app.home">
          Home
        </div>
        <div class="item nav-clear menu-close"  ng-show="isHome()" ui-sref="app.addRoom">
          Add Room
        </div>
         <div class="item nav-clear menu-close"  ng-show="isRoom()">
          Schedule
        </div>
        <!-- <ion-item nav-clear menu-close ui-sref="change-password">
          Change Password
        </ion-item> -->
        <div class="item nav-clear menu-close" ng-show="isRoom()" ui-sref="app.thermostats({roomId: room})">
          Thermostats
        </div>
        <div class="item nav-clear menu-close" ng-show="isRoom()" ng-click="netatmo()">
          Netatmo
        </div>
        <div class="item nav-clear menu-close"  ng-show="isRoom()">
          Room Settings
        </div>
        <div class="item nav-clear menu-close"  ng-show="isHome()">
          Home Settings
        </div>
        <div class="item nav-clear menu-close"  ng-show="isHome()">
          User Settings
        </div>
        <div class="item nav-clear menu-close"  ng-show="isHome()" ui-sref="app.gateway">
          Gateway
        </div>
        <div class="item nav-clear menu-close" ng-click="logout()">
          Log Out
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
