<ion-view title="Netatmo">

    <ion-nav-buttons side="left">
        <ion-nav-back-button class="button-clear" ng-click="goBack()">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">

        <div class="list card">
            <div class="item">
                <p>Station: {{netatmo.station.name}}</p>
                <p>Module: {{netatmo.module.obj.name}}</p>
            </div>

            <div class="item item-image">
                <button class="button button-full button-assertive" ng-click="delNetatmo()">
                    Delete
                </button>
            </div>

        </div>

    </ion-content>
