<ion-modal-view>
    <ion-content>
    <div class="centerAll" style="padding-top:10%">
            <div class="item item-text-wrap">
                Insert the batteries into the thermostat and hold the <img src="/images/icon-pairing.png"> button for at least 3 seconds.
            </div>
            <div class="item item-text-wrap">
                The pairing mode on the thermostat is activated when it begins a countdown from 30 until "AC" confirms the pairing
            </div>
            <div class="item item-text-wrap center">
                Waiting for new paired thermostat...
            </div>
     </div>
    </ion-content>
    <div class="bar bar-footer bar-red">
        <div class="title" ng-click="closeModal()">Cancel</div>
    </div>
</ion-modal-view>
