<ion-modal-view>
    <ion-content>
    <div class="list">
        <div class="item item-text-wrap">
        Insert the batteries into the thermostat and hold the <img src="/images/icon-pairing.png">  button for at least 3s.
        </div>
        <div class="item item-text-wrap">
        The pairing mode on the thermostat is activated when it begins a countdown from 30 until "AC" confirms the pairing
        </div>
        <div class="item item-image">
                <button class="button button-full button-assertive" ng-click="closeModal()">
                    Cancel
                </button>
            </div>
        </div>    
    </ion-content>
</ion-modal-view>
