<ion-view >
<ion-header-bar class="bar-transparent">
    <h1 translate class="title">RESET_PASSWORD</h1>

        <button class="button-clear" ng-click="goBack()">
            <i class="ion-chevron-left"></i>
            <span translate>BACK</span>
        </button>

  </ion-header-bar>
 
  <ion-content class="has-header" scroll="false">
    <div class="create">
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
      </div>
      <form ng-submit="resetPassword(email)">
        <div class="list">
          <div class="item item-input-inset transparent">
            <label class="item-input-wrapper">
              <input type="email" ng-model="email" placeholder="E-Mail">
            </label>
          </div>
          <button translate type="submit" class="button button-stable button-balanced button-block transparent">SEND_PASSWORD</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
