<ion-view title="{{'SELECT_USER' | translate}}">
  <div class="wrapper">
    <div class="circle">
    </div>
  </div>
  <ion-content class="has-header" scroll="false">
  <div class="select-resident">
      <div class="title">
        <h1>Hi!</h1>
      </div>
      <p translate>NEW_DEVICE_MSG</p>
      <div class="list">
        <div ng-cloak class="residents residents-select center">
          <div class="resident" ng-repeat="resident in residents">
            <img class="avatar" ng-click="select(resident)" ng-src="./images/avatar{{resident.avatar || '0'}}.png"/>
            <br />
            {{resident.name}}
          </div>
        </div>
        <div class="center-block">
          <div class="divider">
            <hr class="pull-left"/>{{'OR' | translate}}<hr class="pull-right" />
          </div>
        </div>
        <div class="item item-input-inset transparent">
          <label class="item-input-wrapper">
            <input type="text" placeholder="{{'ENTER_NAME' | translate}}" ng-model="name">
          </label>
        </div>
        <button translate class="button button-stable button-positive button-block" ng-click="create(name)">
          CREATE_NEW_USER
        </button>
      </div>
      <!--<button class="button button-stable button-block" ui-sref="reset-password">-->
      <!--Can't remember my password-->
      <!--</button>-->
  </div>
  </ion-content>
</ion-view>
