<ion-view title="Select User">
  <div class="wrapper">
    <div class="circle">
    </div>
  </div>
  <ion-content class="has-header" scroll="false">
  <div class="select-resident">
      <div class="title">
        <h1>Please select your user</h1>
      </div>
      <div class="list">
        <div ng-cloak class="residents residents-select center">
          <div class="resident" ng-repeat="resident in residents">
            <div class="avatar" ng-click="select(resident)"></div>
            {{resident.name}}
          </div>
        </div>
        <div class="center-block">
          <div class="divider">
            <hr class="pull-left"/>OR<hr class="pull-right" />
          </div>
        </div>
        <div class="item item-input-inset transparent">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Name" ng-model="name">
          </label>
        </div>
        <button class="button button-stable button-positive button-block" ng-click="create(name)">
          Create New User
        </button>
      </div>
      <!--<button class="button button-stable button-block" ui-sref="reset-password">-->
      <!--Can't remember my password-->
      <!--</button>-->
  </div>
  </ion-content>
</ion-view>
