<div id="menu-left" snap-drawer>
  <div ng-include="'views/menu.html'"></div>
</div>
<div id="content" class="scrollable" snap-content>
  <div class="h1 aligncenter"> {{roomValues.name}} </div>

  <div class="container" ng-cloak>
    <div class="progress-wrapper" ng-style="{'font-size': ((radius + stroke)/ 3)+'px'}">
      <div room-temperature
        max="max" 
        targettemp="roomValues.virtualTarget"
        measuredtemp="roomValues.temperature"
        mode="roomValues.mode"
        color="{{ currentColor }}" 
        bgcolor="{{ bgColor }}" 
        radius="{{ radius }}" 
        stroke="{{ stroke }}">
      </div>
    </div> 
  </div>

  <div ng-cloak class="field-group">
    <div class="field">  
      <object id="air-quality" class="logo yellow-bg" type="image/svg+xml" data="../images/Icon_Airquality.svg"/>
      <div class="alignleft">
        Air Quality  
      </div>
      <div class="alignright"> {{sensor.co2}}ppm </div>
    </div>
    <div class="field"> 
      <object id="humidity" class="logo green-bg" type="image/svg+xml" data="../images/Icon_Humidity.svg"/> 
      <div class="alignleft"> Humidity </div>
      <div class="alignright"> {{sensor.humidity}}% </div>
    </div>
  </div>
</div>
