<ion-view title="{{roomValues.name}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false">
        <div class="h1 aligncenter">{{roomValues.name}}</div>
        <div class="center-block">
            <div room-temperature class="center-block in-background" scale="1.0" min="min" max="max" roomid="roomId" targettemp="roomValues.virtualTarget" measuredtemp="roomValues.temperature" mode="roomValues.mode" color="{{ currentColor }}" bgcolor="{{ bgColor }}" radius="{{ radius }}" stroke="{{ stroke }}" displaytarget="true" ng-cloak>
            </div>
            <div class="row">
            <div class="col">
             <!-- <i class="ion-chevron-left arrow right"></i> -->
            </div>
            <div class="col">
            <ion-slide-box
            id="modeSlider"
            active-slide="modeToIndex(roomValues.mode)"
            on-slide-changed="changeMode($index)"
            does-continue="true" 
            show-pager="false">
                <ion-slide id="auto">
                    auto
                </ion-slide>
                <ion-slide id="manu">
                    manu
                </ion-slide>
            </ion-slide-box>
            </div>
              <div class="col">
              <!-- <i class="ion-chevron-right arrow arrow-right"></i> -->
            </div>
            </div>

            
        </div>

        <div id="roomclimate" class="field-group" ng-show="hasRoomclimate" ng-cloak>
        <div class="field">
            <climateindicator class="logo" type="airquality" value="sensor.co2" thresholds="roomValues.thresholds.co2"></climateindicator>
                <div class="alignleft">Air Quality</div>
                <div class="alignright">{{sensor.co2}}ppm</div>
            </div>
            <div class="field">
                <climateindicator class="logo" type="humidity" value="sensor.humidity" thresholds="roomValues.thresholds.humidity"></climateindicator>
                <div class="alignleft">Humidity</div>
                <div class="alignright">{{sensor.humidity}}%</div>
            </div>
        </div>
    </ion-content>
</ion-view>
