<ion-view "class=schedule-header" title="{{'SCHEDULE' | translate}}">
    <ion-nav-buttons side="left">
        <button id="save" ng-show="!$root.dayView" class="button-clear">
            <i class="ion-chevron-left"></i> <span translate>BACK</span>
        </button>
        <button id="week" ng-show="$root.dayView" class="button-clear">
            <i class="ion-chevron-left"></i> <span translate>WEEK</span>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button id="add" ng-show="$root.dayView" class="button-clear">
            <span translate>ADD</span>
        </button>
        <button id="delete" ng-show="$root.dayView" class="button-clear">
            <span translate>DELETE</span>
        </button>
        <button id="cancel" ng-show="$root.dayView" class="button-clear">
            <span translate>CANCEL</span>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header allow-overflow" scroll="false" data-tap-disabled="true">
        <div class="schedule-block">
            <room-schedule roomid="roomId" sync="obj" schedule="schedule" radius="radius" goback="goback(room)" addrawactivity="addRawActivity(object)" reload="reload(changedDay)" hideloader="hideloader()">
            </room-schedule>
        </div>
    </ion-content>
</ion-view>
