<ion-view title="Thermostats">

    <ion-nav-buttons side="left">
        <button class="button-clear" ng-click="goToRoom()">
            <i class="ion-chevron-left"></i> Room
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="true">

        <div class="list card opaque" ng-repeat="thermostat in thermostats | filter:thermostatFilter">
            <div class="item">
                <div class="row">
                    <div class="col">
                        Serial No:
                    </div>
                    <div class="col">
                        {{thermostat.serialNo}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Setpoint Temperature:
                    </div>
                    <div class="col">
                        {{thermostat["fhem_desired-temp"]}}°C
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Measured Temperature:
                    </div>
                    <div class="col">
                        {{thermostat["fhem_measured-temp"]}}°C
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Valve Position:
                    </div>
                    <div class="col">
                        {{thermostat.fhem_actuator}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        State:
                    </div>
                    <div class="col">
                        {{thermostat.state}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Battery:
                    </div>
                    <div class="col">
                        {{thermostat.fhem_battery}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Battery Level:
                    </div>
                    <div class="col">
                        {{thermostat.fhem_batteryLevel}}V
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Last Seen:
                    </div>
                    <div class="col">
                        {{thermostat.lastSeen}}
                    </div>
                </div>
            </div>

            <div ng-hide="isAddView" class="item item-image">
                <button class="button button-full button-assertive" ng-click="delThermostat(thermostat)">
                    Remove
                </button>
            </div>

            <div ng-show="isAddView" class="item item-image">
                <button class="button button-full button-balanced" ng-click="addThermostat(thermostat)">
                    Add
                </button>
            </div>


        </div>

    </ion-content>
    <div class="bar bar-footer bar-dark">
        <button ng-hide="isAddView" class="button button-full button-positive" ng-click="addThermostatView()">Add Thermostat</button>
        <button ng-show="isAddView" class="button button-full button-positive" ng-click="pairNewThermostat()">Pair New Thermostat</button>
    </div>
