<ion-view title="Thermostats">

    <ion-nav-buttons side="left">
        <button class="button-clear" ng-click="goBack()">
            <i class="ion-chevron-left"></i>
            <span translate>BACK</span>
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header has-footer" scroll="true">

        <div class="list card opaque item-text-wrap" ng-repeat="thermostat in thermostats | filter:thermostatFilter">
            <div class="item">
                <div class="row">
                    <div class="col">
                        Id:
                    </div>
                    <div class="col">
                        {{thermostat.$id}}
                    </div>
                </div>
                <div ng-if="thermostat.serialNo" class="row">
                    <div class="col">
                        Serial No:
                    </div>
                    <div class="col">
                        {{thermostat.serialNo}}
                    </div>
                </div>
                <div ng-if="thermostat.physAddr" class="row">
                    <div class="col">
                        Address:
                    </div>
                    <div class="col">
                        {{thermostat.physAddr}}
                    </div>
                </div>
                <div ng-if="thermostat['fhem_desired-temp']" class="row">
                    <div class="col">
                        Setpoint:
                    </div>
                    <div class="col">
                        {{thermostat["fhem_desired-temp"]}}°C
                    </div>
                </div>
                <div ng-if="thermostat['fhem_measured-temp']" class="row">
                    <div class="col">
                        Measured:
                    </div>
                    <div class="col">
                        {{thermostat["fhem_measured-temp"]}}°C
                    </div>
                </div>
                <div ng-if="thermostat.fhem_actuator" class="row">
                    <div class="col">
                        Valve Position:
                    </div>
                    <div class="col">
                        {{thermostat.fhem_actuator}}
                    </div>
                </div>
                <div ng-if="thermostat.state" class="row">
                    <div class="col">
                        State:
                    </div>
                    <div class="col">
                        {{thermostat.state}}
                    </div>
                </div>
                <div ng-if="thermostat.status" class="row">
                    <div class="col">
                        Status:
                    </div>
                    <div class="col">
                        {{thermostat.status}}
                    </div>
                </div>
                <div ng-if="thermostat.usesExternalTemp" class="row">
                    <div class="col">
                        External Sensor:
                    </div>
                    <div class="col">
                        {{thermostat.usesExternalTemp}}
                    </div>
                </div>
                <div ng-if="thermostat.waitForThermostat" class="row">
                    <div class="col">
                        Waiting:
                    </div>
                    <div class="col">
                        {{thermostat.waitForThermostat}}
                    </div>
                </div>
                 <div ng-if="thermostat.realOffset" class="row">
                    <div class="col">
                        Real Offset:
                    </div>
                    <div class="col">
                        {{thermostat.realOffset}}
                    </div>
                </div>
                <div ng-if="thermostat.lastSeen" class="row">
                    <div class="col">
                        Last Seen:
                    </div>
                    <div class="col">
                        <i ng-show="alert" class="ion-alert-circled"></i> {{lastSeen(thermostat.lastSeen)}}
                    </div>
                </div>
                <div ng-if="type=='hm' && $root.isSuperuser" class="row">
                    <div class="col">
                        Use Internal Temperature:
                    </div>
                    <div class="col padding">
                        <ion-toggle ng-model="thermostat.usesInternalTemperature" toggle-class="toggle-balanced" ng-change="saveObject(thermostat.$id)"></ion-toggle>
                    </div>
                </div>
                <div ng-if="type=='hm' && $root.isSuperuser" class="row">
                    <div class="col">
                        Dynamic Offset:
                    </div>
                    <div class="col padding ">
                        <ion-toggle ng-model="thermostat.usesTemperatureOffset" ng-disabled="!thermostat.usesInternalTemperature" toggle-class="toggle-balanced" ng-change="saveObject(thermostat.$id)"></ion-toggle>
                    </div>
                </div>
                <div ng-if="type=='hm' && $root.isSuperuser" class="row">
                    <div class="col">
                        Prediction:
                    </div>
                    <div class="col padding">
                        <ion-toggle ng-model="thermostat.usesPrediction" ng-disabled="thermostat.usesInternalTemperature" toggle-class="toggle-balanced" ng-change="saveObject(thermostats.$indexFor(thermostat.$id))"></ion-toggle>
                    </div>
                </div>
            </div>

            <div ng-hide="isAddView" class="item item-image">
                <button class="button button-full button-assertive" ng-click="delThermostat(thermostat)">
                    <span translate>REMOVE_FROM</span> {{roomName.$value}}
                </button>
            </div>

            <div ng-show="isAddView" class="item item-image">
                <button class="button button-full button-balanced" ng-click="addThermostat(thermostat)">
                    <span translate>ADD_TO</span> {{roomName.$value}}
                </button>
            </div>


        </div>

        <div class="centerAll" ng-if="(thermostats | filter:thermostatFilter).length==0" ng-cloak>
            <h2 translate>NO_THERMOSTATS</h2>
            <!-- <h3 translate ng-if="(thermostats | filter:thermostatFilter).length==0">Maybe you want to pair a new one?</h3> -->
        </div>

    </ion-content>
    <ion-footer-bar class="bar-footer">
        <button translate ng-if="!isAddView && type == 'hm'" class="button button-block button-light transparent" ng-click="addThermostatView()">
            ADD_THERMOSTAT
        </button>
        <button translate ng-if="type == 'max'" class="button button-block button-light transparent" ng-click="pairNewThermostat()">
            ADD_THERMOSTAT
        </button>
        <button translate ng-if="isAddView && type == 'hm'" class="button button-block button-light transparent" ng-click="pairNewThermostat()">
            PAIR_THERMOSTAT
        </button>
    </ion-footer-bar>
</ion-view>
