<ion-view title="Thermostats">

    <ion-nav-buttons side="left">
        <button class="button-clear" ng-click="goToRoom()">
            <i class="ion-chevron-left"></i>
            <span translate>BACK</span>
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header has-footer" scroll="true" overflow-scroll="false">

        <div class="list card opaque item-text-wrap" ng-repeat="thermostat in thermostats | filter:thermostatFilter">
            <div class="item">
                <div class="row">
                    <div class="col">
                        Serial No:
                    </div>
                    <div class="col">
                        {{thermostat.serialNo}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Setpoint Temperature:
                    </div>
                    <div class="col">
                        {{thermostat["fhem_desired-temp"]}}°C
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Measured Temperature:
                    </div>
                    <div class="col">
                        {{thermostat["fhem_measured-temp"]}}°C
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Valve Position:
                    </div>
                    <div class="col">
                        {{thermostat.fhem_actuator}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        State:
                    </div>
                    <div class="col">
                        {{thermostat.state}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Battery:
                    </div>
                    <div class="col">
                        {{thermostat.fhem_battery}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Battery Level:
                    </div>
                    <div class="col">
                        {{thermostat.fhem_batteryLevel}}V
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Last Seen:
                    </div>
                    <div class="col">
                        <i ng-show="alert" class="ion-alert-circled"></i> {{lastSeen(thermostat.lastSeen)}}
                    </div>
                </div>
            </div>

            <div ng-hide="isAddView" class="item item-image">
                <button class="button button-full button-assertive" ng-click="delThermostat(thermostat)">
                <span translate>REMOVE_FROM</span> {{roomObj.name}}
                </button>
            </div>

            <div ng-show="isAddView" class="item item-image">
                <button class="button button-full button-balanced" ng-click="addThermostat(thermostat)">
                    <span translate>ADD_TO</span> {{roomObj.name}}
                </button>
            </div>


        </div>

        <div class="centerAll" ng-cloak>
            <h2 translate ng-if="(thermostats | filter:thermostatFilter).length==0">NO_THERMOSTATS</h2>
            <!-- <h3 translate ng-if="(thermostats | filter:thermostatFilter).length==0">Maybe you want to pair a new one?</h3> -->
        </div>

    </ion-content>
    <ion-footer-bar class="bar-footer">
        <button translate ng-hide="isAddView" class="button button-block button-light transparent" ng-click="addThermostatView()">
            ADD_THERMOSTAT
        </button>
        <button translate ng-show="isAddView" class="button button-block button-light transparent" ng-click="pairNewThermostat()">
            PAIR_THERMOSTAT
        </button>
    </ion-footer-bar>
</ion-view>    
