<ion-view>
  <ion-header-bar class="bar-transparent">
    <h1 translate class="title">CREATE_ACCOUNT_TITLE</h1>
  </ion-header-bar>
  <div class="wrapper">
    <div class="circle">
      <a class="step step-1 step-done">1</a>
      <a class="step step-2 step-done">2</a>
      <a class="step step-3 step-active">3</a>
      <a class="step step-4">4</a>
    </div>
    <ion-content class="has-header" scroll="false">
      <div class="create">
        <div class="title">
          <h1 translate>ABOUT_YOUR_HOME</h1>
        </div>
        <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
        </div>
        <div class="list">
          <div class="item item-input-inset transparent">
            <label class="item-input-wrapper">
              <input type="text" ng-model="home.name" placeholder="{{'GIVE_HOME_NAME' | translate}}">
            </label>
          </div>
          <div class="item item-input-inset transparent">
            <label class="item-input-wrapper">
                <input type="text" ng-model="home.address" placeholder="{{'HOME_ADDRESS' | translate}}">
            </label>
          </div>
          <div class="item item-input-inset transparent">
            <label class="item-input-wrapper">
                <input type="text" ng-model="home.city" placeholder="{{'HOME_CITY' | translate}}">
            </label>
          </div>
          <div class="item item-input-inset transparent">
            <label class="item-input-wrapper">
                <input type="text" ng-model="home.postcode" placeholder="{{'HOME_POSTCODE' | translate}}">
            </label>
          </div>
          <div class="item item-input-inset transparent">
            <label class="item-input-wrapper">
                <input type="text" ng-model="home.country" placeholder="{{'HOME_COUNTRY' | translate}}">
            </label>
          </div>
          <button translate ng-click="createHome()" type="submit" class="button button-stable button-balanced button-block">NEXT</button>
        </div>
      </div>
    </ion-content>
  </div>
</ion-view>
